.idea/
rpi/test/test-images/

# React Native app
app/.idea/
app/node_modules/**/*
app/.expo/*
app/npm-debug.*
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision
app/*.orig.*
app/web-build/

# macOS
app/.DS_Store

# additional LaTeX files
docs/praca/svg-inkscape/
docs/praca/*.aux
docs/praca/*.bbl
docs/praca/*.blg
docs/praca/*.log
docs/praca/*.out
docs/praca/*.toc
docs/praca/*.dvi
docs/praca/_minted-praca/
